.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-4 {
  flex: 4;
}

.flex-6 {
  flex: 6;
}

.main-content {
  transition: margin-right 0.3s ease;
}

.sidebar {
  transition: width 0.3s ease;
}

.sidebar-open .main-content {
  margin-right: 33%;
}

.sidebar-open .sidebar {
  width: 33%;
}
